html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "IM Fell English SC", serif;
}
button {
    font-family: "IM Fell English SC", serif;
    border-radius: 30px;
}
#startBtn {
    width:40%;
    height: 80%;
    margin-bottom: 5%;
    font-size: 80px;
    font-weight: bolder;
    color:rgb(178, 141, 95);
    -webkit-text-stroke: 1px rgb(48, 31, 10);
    border: 10px solid rgb(48, 31, 10);
    background-image: url('./imagenes/madera2.jpeg');
    background-size: cover;
    border-radius: 30px;
    transition: transform 0.5s ease;
}
#startBtn:hover {
    background-image: url('./imagenes/madera.jpeg');
    background-size: cover;
    color:rgb(48, 31, 10);
    -webkit-text-stroke: 0px;
    transform: scale(1.1)
}
#juego {
    display: flex;
    flex-direction: column;
    height:100%;
    background-color:burlywood;
    position: relative;
}

.progresoDelJuego {
    display: flex;
    height:80%;
}
#ahorcado {
    width:60%;
    display:flex;
    position:relative;
}
.laHorca {
    width: 500px;
    height:auto;
    position: absolute;
    bottom:0;
    left:0
}
.letras {
    display: flex;
    flex-direction: column;
    padding-top:50px;
    width:90%;
}

/* INTRO */
.intro {
    display:flex;
    flex-direction: column;
}
#introContenedor {
    display: flex;
}
#presentacion1,#pTexto {
    font-size: 35px;
    font-family: "IM Fell English SC", serif;
    padding-left: 70px;
    color: rgb(48, 31, 10);
}
#presentacion2{
    display: flex;
    height: 100%;
}
#pImg,#pTexto {
    max-height: 100%;
    width:400px
}
#pImg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
#pTexto {
    padding: 50px;
    padding-top: 65px;
}

.bobIntro {
   object-fit: contain;
   width: 60%;
   height: 60%;
}

/* JUEGO */


#letrasDescartadas {
    display: flex;
    height: 100%;
    padding-left: 30%;
    padding-top: 10%;
    align-items: center;
    gap:15px
}
.contDescarte {
    background-image: url(./imagenes/pared1.jpeg);
    background-size:contain;
    box-sizing: border-box;
    width: 50%;
    height: 85%;
    border: 5px solid rgb(90, 23, 23);
    border-radius: 10px;
    font-size: 70px;
    text-align: center;
    padding:10px;
    align-items: center;
    justify-content: center;
}

#palabra {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 100%;
}
#contPalabra {
    font-size: 113px;
    display: flex;
    font-family: "IM Fell English SC", serif;
    gap:5px
}
#bobQuejas {
    width: 50%;
    font-size: 35px;
}
#input {
    width: 10%;
    height: 30%;
    font-size: 60px;
    font-family: "IM Fell English SC", serif;
    border: 5px solid black;
    border-radius: 5px;
    background-color: antiquewhite;
}
.bobContenedor{
    position: absolute;
    top:26%;
    left:33.5%
    
}
.bobContenedorGanador{
    position: absolute;
    top:50%;
    left:33.5%
    
}
#bobImg {
    width:250px;
    height: auto;
}
.divsBobContenedor {
    display: flex;
    flex-direction: column;
    width:245px;
    height: 190px;
    position: absolute;
    top:44.7%;
    left: 32.7%;

}
#bobSubcont1,#bobSubcont2 {
    display: flex;
    height: 100%;
}
.divTapador {
    width:100%;
    height: 100%;
    z-index: 1;
}
#div2 {
    width:15px
}
#div5 {
    width:107%
}

/* OPCIONES Y BOTONES */

.opciones {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}
#reiniciarBtn,#otraPalabraBtn {
    padding: 10px;
    font-size: 70px;
    font-weight:900;
}
#reiniciarBtn {
    transition: transform 0.3s ease;
    color: rgb(11, 11, 10);
    background-image: url(./imagenes/piedras3.avif);
    background-size: cover;
    border: 10px solid rgb(3, 3, 3);
}
#reiniciarBtn:hover {
    transform: scale(1.1);
    color: bisque;
    border:10px solid bisque
}
#otraPalabraBtn {
    background-image: url(./imagenes/piedras4.png);
    color: rgb(34, 26, 13);
    border: 10px solid rgb(34, 26, 13);
    transition: transform 0.2s ease;
}
#otraPalabraBtn:hover {
    transform: scale(1.05);

}
.contadorContenedor {
    display: flex;
    background-color: bisque;
    height: 60%;
    margin-left: 15%;
    border: 5px solid black;
    border-radius: 2px;
    align-items: center;
}
#ganadasContenedor,#perdidasContenedor {
    font-size: 80px;
    height: 100%;
    width: 80px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ganadasContenedor {
    border-right: 5px solid black;
    color: green
}
#perdidasContenedor {
    color: brown
}

.musicaDiv {
    display: flex;
    width:20%;
    z-index: 1;
}
.menuMusica {
    display: none;
    flex-wrap: wrap;
    width:20%;
    justify-content: center;
    padding-bottom: 3%;
    position: absolute;
    top:74%;
    left:2%;
}
.musicaBtn {
    background-color: bisque;
    border-radius: 200px;
    font-size: 30px;
    padding: 10px;
    border: 5px solid rgb(34, 26, 13);
    color: 5px solid rgb(34, 26, 13);
    transition: transform 0.2s ease;
}
.tema {
    font-size:15px;
    background-color: rgb(246, 198, 140);
}
.tema:hover {
    background-color: black;
    color:rgb(246, 198, 140);
}
.musicaBtn:hover {
    transform: scale(1.05);
}
#apagado {
    background-color: black;
    color:bisque;
    transition: transform 0.2s ease;
}
#apagado:hover {
    transform: scale(1.05);
}

