html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#juego {
    display: flex;
    flex-direction: column;
    height:100%;
    background-color:burlywood;
}

.progresoDelJuego {
    display: flex;
    height:80%;
}
#ahorcado {
    width:60%;
    display:flex;
    position:relative
}
.laHorca {
    width: 500px;
    height:auto;
    position: absolute;
    bottom:0;
    left:0
}
.letras {
    display: flex;
    flex-direction: column;
    padding-top:50px;
    width:90%;
}

/* INTRO */
.intro {
    display:flex;
    flex-direction: column;
}
#introContenedor {
    display: flex;
}
#presentacion1,#pTexto {
    font-size: 35px;
    padding-left: 70px;
}
#presentacion2{
    display: flex;
    height: 100%;
}
#pImg,#pTexto {
    max-height: 100%;
    width:400px
}
#pImg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
#pTexto {
    padding: 50px;
}

.bobIntro {
   object-fit: contain;
   width: 60%;
   height: 60%;
}
.musicaDiv {
    display: flex;
}

/* JUEGO */

#letrasDescartadas {
    display: flex;
    height: 100%;
    padding-left: 30%;
    padding-top: 10%;
}
.contDescarte {
    background-color: aliceblue;
    box-sizing: border-box;
    width: 50%;
    height: 150px;
    border: 15px solid black;
    font-size: 70px;
    text-align: center;
    padding:30px;
}

#palabra {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 100%;
}
#contPalabra {
    font-size: 120px;
    display: flex;
}
#bobQuejas {
    width: 20%;
}

.bobContenedor{
    position: absolute;
    top:26%;
    left:33.5%
    
}
.bobContenedorGanador{
    position: absolute;
    top:50%;
    left:33.5%
    
}
#bobImg {
    width:250px;
    height: auto;
}
.divsBobContenedor {
    display: flex;
    flex-direction: column;
    width:245px;
    height: 190px;
    position: absolute;
    top:44.7%;
    left: 32.7%;

}
#bobSubcont1,#bobSubcont2 {
    display: flex;
    height: 100%;
}
.divTapador {
    width:100%;
    height: 100%;
    z-index: 1;
}
#div2 {
    width:15px
}
#div5 {
    width:107%
}

/* OPCIONES Y BOTONES */

.opciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}
#reiniciarBtn,#otraPalabraBtn {
    width: 45%;
    height: 70%;
    font-size: 70px;
}

